In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import numpy as np
import sklearn.linear_model
import FinanceDataReader as fdr
from datetime import datetime, timedelta
%matplotlib inline
import pandas as pd

In [2]:
industry = pd.read_csv("./datas/SYMB_Industry.csv")
industry.head()

            Industry  IndustryCode
0  건설 장비 및대형차, 기차, 배        521020
1            다양한 소매업        533010
2              레저 상품        532050
3           미디어 및 출판        533020
4       반도체 및 반도체 장비        571010

# Symbol 리스트

In [3]:
indX = pd.read_csv("datas/industry_code.csv")
df_3 = indX.drop(['Unnamed: 0'], axis=1)
df_3.tail()

,Symbol,Name,Industry,IndustryCode
7210,RHE,Regional Health Properties Inc,부동산 운영 관리,601010.0
7211,BTX,Brooklyn Immunotherapeutics Inc,미디어 및 출판,533020.0
7212,PW PR A,Power REIT PRF,주택 및 상업용 리츠,601020.0
7213,IPB,Merrill LYNCH Depositor Inc Indexplus Trust Se...,은행,551010.0
7214,VHAQ RT,Viveon Health Acquisition Corp,기타 금융업,556010.0

# 전쟁 리스트

In [29]:
ls_war = pd.read_excel("datas/ls_war.xls", "sheet")
ls_war = ls_war.drop(["Unnamed: 0","전쟁수"], axis=1)
ls_war.head(1)
#ls_war = ls_war.drop(["Unnamed: 0", "종료시점", "위치"], axis=1)

        발발시점    갈등이름 갈등종류     전쟁규모  참전국수
0 2001-09-11  테러와의전쟁   테러  1000000    48

In [30]:
index = 0
start_date = ls_war.loc[index,"발발시점"]
war_name = ls_war.loc[index, "갈등이름"]
start_date, war_name

(Timestamp('2001-09-11 00:00:00'), '테러와의전쟁')

In [31]:
# 발발시점 데이터 뽑기
index = 0
ls = len(ls_war["발발시점"])

# 심볼별 Historical price

In [7]:
real_df = pd.read_excel("datas/real_df.xls", "sheet")

In [8]:
# 미국상장기업 100대 기업의 historical price
real_df

,Unnamed: 0,Unnamed: 0.1,Date,Close,Open,High,Low,Volume,Change,Symbol
0,0,0,2000-01-03,1.00,0.94,1.00,0.91,535820000.0,0.0870,AAPL
1,1,1,2000-01-04,0.92,0.97,0.99,0.90,511730000.0,-0.0800,AAPL
2,2,2,2000-01-05,0.93,0.93,0.99,0.92,778320000.0,0.0109,AAPL
3,3,3,2000-01-06,0.85,0.95,0.96,0.85,767980000.0,-0.0860,AAPL
4,4,4,2000-01-07,0.89,0.86,0.90,0.85,460730000.0,0.0471,AAPL
...,...,...,...,...,...,...,...,...,...,...
358741,358741,358741,2021-03-19,1516.34,1502.63,1516.34,1502.53,22010.0,0.0225,DHR_pa
358742,358742,358742,2021-03-22,1530.53,1510.10,1530.54,1510.10,960.0,0.0094,DHR_pa
358743,358743,358743,2021-03-23,1533.00,1533.00,1533.00,1533.00,3480.0,0.0016,DHR_pa
358744,358744,358744,2021-03-24,1512.42,1512.45,1512.45,1512.42,1230.0,-0.0134,DHR_pa
358745,358745,358745,2021-03-25,1496.00,1492.90,1496.00,1492.90,650.0,-0.0109,DHR_pa

In [9]:
# 원데이터의 Date 컬럼을 Date 형으로 변환

In [10]:
real_df['Date'] = pd.to_datetime(real_df['Date'], format='%Y-%m-%d')
real_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358746 entries, 0 to 358745
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    358746 non-null  int64
 1   Unnamed: 0.1  358746 non-null  int64
 2   Date          358746 non-null  datetime64[ns]
 3   Close         358746 non-null  float64
 4   Open          358746 non-null  float64
 5   High          358746 non-null  float64
 6   Low           358746 non-null  float64
 7   Volume        358746 non-null  float64
 8   Change        358746 non-null  float64
 9   Symbol        358746 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 27.4+ MB

In [11]:
#test = start_date+timedelta(days=-1)
#test

In [12]:
#real_df.loc[425, "Date"]

In [13]:
# 리스트에서 심볼을 을 출력하는 코딩 테스트

In [14]:
symbol = real_df.groupby('Symbol').size()
symbol = pd.DataFrame(symbol).reset_index()
symbol.loc[10, "Symbol"]

'AVGO'

In [15]:
# 전쟁ID 0과 전쟁ID 1 사이의 특정 종목'의 historical price 추출하는 코드
# 출력결과 index 0 row 값이 전쟁ID 0번을 전쟁발발시점으로 간주
# 전쟁ID 0번의 'Unnamed: 0 번의 값으로 이후 코딩에서 직전 5일, 이후2일에 대한 값 탐색

In [16]:
Change_idx  = (new_df["Change"] / avg_change) * 100

NameError: name 'new_df' is not defined

# 분석용 데이터처리

In [ ]:
ls_war.info()

In [ ]:
# 전쟁ID 0~26
index = 25
df_final = pd.DataFrame()
ls_1 = (len(ls_war) - 2)
ls_2=len(symbol)
symbol = real_df.groupby('Symbol').size()
symbol = pd.DataFrame(symbol).reset_index()

start_date = ls_war.loc[index,"발발시점"]
and_date = ls_war.loc[index+1,"발발시점"]

dfbysymbol = pd.DataFrame()    
for s_i in range(0, ls_2):


    # 100대 기업의 symbol list
    ticker = symbol.loc[s_i, "Symbol"]

    test1 = real_df[real_df['Symbol']==ticker]

    # 조건설정
    a = test1['Date']>=start_date
    b = test1['Date']<and_date
    test2 = test1.loc[a & b].reset_index().head(1)
    num = test2["index"]
    n5 = num-5
    n1 = num-1

    globals()['new_df{}'.format(s_i)] = pd.DataFrame(real_df.loc[num])
    globals()['new_df{}'.format(s_i)] = globals()['new_df{}'.format(s_i)].drop(["Unnamed: 0.1", "Close", "Open", 'High', 'Low', 'Volume'], axis=1)


    #지난 5일간 average change
    a = real_df.loc[num-5, 'Change'].values
    b = real_df.loc[num-4, 'Change'].values
    c = real_df.loc[num-3, 'Change'].values
    d = real_df.loc[num-2, 'Change'].values
    e = real_df.loc[num-1, 'Change'].values

    avg_change = np.round((a+b+c+d+e)/5,3)

    #change index
    Change_idx = (globals()['new_df{}'.format(s_i)]["Change"] / avg_change) * 100
    Change_idx = round(Change_idx.astype(float),0)


    #index 절대값으로 변환
    Abs_idx = abs(Change_idx)
    Abs_idx = round(Abs_idx.astype(float),0)


    # 전쟁발발시점, 전쟁이름, 참전국수
    start_date = ls_war.loc[index,"발발시점"]
    war_genre = ls_war.loc[index, "갈등종류"]
    war_name = ls_war.loc[index, "갈등이름"]
    war_volume = ls_war.loc[index, "전쟁규모"]
    count_country = ls_war.loc[index, "참전국수"]

    # 심볼추가
    industry = df_3[df_3["Symbol"] == ticker] # ticker는 위에 정의되어 있음
    industry = industry["Industry"]
    industry = industry.values
    industry = [industry]

    # DataFrame 완성
    globals()['new_df{}'.format(s_i)]["Change_idx"] = round(Change_idx,3)
    globals()['new_df{}'.format(s_i)]["ABS_idx"] = Abs_idx
    globals()['new_df{}'.format(s_i)]["Avg_change"] = avg_change
    globals()['new_df{}'.format(s_i)]['Start_date'] = start_date
    globals()['new_df{}'.format(s_i)]['War_genre'] = war_genre
    globals()['new_df{}'.format(s_i)]['War_volume'] = war_volume
    globals()['new_df{}'.format(s_i)]['War_name'] = war_name
    globals()['new_df{}'.format(s_i)]['Count_country'] = count_country
#    globals()['new_df{}'.format(s_i)]['Industry'] = industry

    dfbysymbol = pd.concat([dfbysymbol,globals()['new_df{}'.format(s_i)]], axis = 0)

dfbysymbol.head(20)

In [ ]:
df_final.info()

In [ ]:
ls_war["갈등종류"]

# 분석데이터 전처리

In [32]:
# 전쟁ID 0~26
df_final = pd.DataFrame()
ls_1 = (len(ls_war) - 2)
ls_2=len(symbol)
symbol = real_df.groupby('Symbol').size()
symbol = pd.DataFrame(symbol).reset_index()


for index in range(ls_1):

    start_date = ls_war.loc[index,"발발시점"]
    and_date = ls_war.loc[index+1,"발발시점"]

    dfbysymbol = pd.DataFrame()
    
    for s_i in range(0, ls_2):


        # 100대 기업의 symbol list
        ticker = symbol.loc[s_i, "Symbol"]

        test1 = real_df[real_df['Symbol']==ticker]

        # 조건설정
        a = test1['Date']>=start_date
        b = test1['Date']<and_date
        test2 = test1.loc[a & b].reset_index().head(1)
        num = test2["index"]
        n5 = num-5
        n1 = num-1

        globals()['new_df{}'.format(s_i)] = pd.DataFrame(real_df.loc[num])
        globals()['new_df{}'.format(s_i)] = globals()['new_df{}'.format(s_i)].drop(["Unnamed: 0.1", "Close", "Open", 'High', 'Low', 'Volume'], axis=1)


        #지난 5일간 average change
        a = real_df.loc[num-5, 'Change'].values
        b = real_df.loc[num-4, 'Change'].values
        c = real_df.loc[num-3, 'Change'].values
        d = real_df.loc[num-2, 'Change'].values
        e = real_df.loc[num-1, 'Change'].values

        avg_change = np.round((a+b+c+d+e)/5,3)

        #change index
        Change_idx = (globals()['new_df{}'.format(s_i)]["Change"] / avg_change) * 100
        Change_idx = round(Change_idx.astype(float),0)


        #index 절대값으로 변환
        Abs_idx = abs(Change_idx)
        Abs_idx = round(Abs_idx.astype(float),0)


        # 전쟁발발시점, 전쟁이름, 참전국수
        start_date = ls_war.loc[index,"발발시점"]
        war_name = ls_war.loc[index, "갈등이름"]
        war_genre = ls_war.loc[index, "갈등종류"]
        count_country = ls_war.loc[index, "참전국수"]
        war_volume = ls_war.loc[index, "전쟁규모"]

        # 심볼추가
        industry = df_3[df_3["Symbol"] == ticker] # ticker는 위에 정의되어 있음
        industry = industry["Industry"]
        industry = industry.values
        industry = [industry]

        # DataFrame 완성
        globals()['new_df{}'.format(s_i)]["Change_idx"] = round(Change_idx,3)
        globals()['new_df{}'.format(s_i)]["ABS_idx"] = Abs_idx
        globals()['new_df{}'.format(s_i)]["Avg_change"] = avg_change
        globals()['new_df{}'.format(s_i)]['Start_date'] = start_date
        globals()['new_df{}'.format(s_i)]['War_genre'] = war_genre
        globals()['new_df{}'.format(s_i)]['War_name'] = war_name
        globals()['new_df{}'.format(s_i)]['War_volume'] = war_volume
        globals()['new_df{}'.format(s_i)]['Count_country'] = count_country
    #    globals()['new_df{}'.format(s_i)]['Industry'] = industry

        dfbysymbol = pd.concat([dfbysymbol,globals()['new_df{}'.format(s_i)]], axis = 0)
    globals()['df_final{}'.format(index)] = dfbysymbol

KeyboardInterrupt:

In [ ]:
df_final = pd.DataFrame()
for i in range(0,25):
    df_final = pd.concat([df_final, globals()['df_final{}'.format(i)]], axis = 0)
df_final.tail()

In [ ]:
df_final.info()

In [ ]:
import xlsxwriter
df_final.to_excel("datas/df_final.xls", sheet_name="sheet", engine="xlsxwriter", encoding="utf-8-sig")

In [33]:
df_final = pd.read_excel("./datas/df_final.xls", "sheet")
df_final = df_final.drop(["Unnamed: 0", "Unnamed: 0.1", "Date"], axis=1)
df_final

,Change,Symbol,Change_idx,ABS_idx,Avg_change,Start_date,War_genre,War_name,War_volume,Count_country
0,-0.0323,AAPL,269.0,269.0,-0.012,2001-09-11,테러,테러와의전쟁,1000000,48
1,0.0198,ABT,-inf,inf,0.000,2001-09-11,테러,테러와의전쟁,1000000,48
2,-0.0363,ACN,-907.0,907.0,0.004,2001-09-11,테러,테러와의전쟁,1000000,48
3,-0.0797,ADBE,1992.0,1992.0,-0.004,2001-09-11,테러,테러와의전쟁,1000000,48
4,-0.1321,AMZN,2642.0,2642.0,-0.005,2001-09-11,테러,테러와의전쟁,1000000,48
...,...,...,...,...,...,...,...,...,...,...
1513,0.0008,WFC_pv,-inf,inf,0.000,2014-09-16,내란,예멘내전,156000,19
1514,0.0036,WFC_pw,180.0,180.0,0.002,2014-09-16,내란,예멘내전,156000,19
1515,0.0028,WFC_px,inf,inf,0.000,2014-09-16,내란,예멘내전,156000,19
1516,0.0067,WMT,-335.0,335.0,-0.002,2014-09-16,내란,예멘내전,156000,19
1517,0.0118,XOM,-393.0,393.0,-0.003,2014-09-16,내란,예멘내전,156000,19

In [60]:
#파이널 수정
industry = pd.read_csv("./datas/industry_code.csv")
df_final = pd.read_excel("./datas/df_final.xls", "sheet")
df_final = df_final.drop(["Unnamed: 0", "Unnamed: 0.1", "Date"], axis=1)
X = pd.merge(df_final,industry, left_on="Symbol", right_on="Symbol" )
X.drop(['Unnamed: 0'], axis=1)
X = X[['Change','Symbol','Industry','Change_idx','ABS_idx','Avg_change','Start_date','War_genre','War_name','War_volume','Count_country',
      ]]
X.to_excel('datas/final_X.xls', sheet_name='final_X')
final_X = pd.read_excel('datas/final_X.xls', sheet_name='final_X')
final_X

,Unnamed: 0,Change,Symbol,Industry,Change_idx,ABS_idx,Avg_change,Start_date,War_genre,War_name,War_volume,Count_country
0,0,-0.0323,AAPL,"컴퓨터, 전화 및 가전제품",269.0,269.0,-0.012,2001-09-11,테러,테러와의전쟁,1000000,48
1,1,0.0263,AAPL,"컴퓨터, 전화 및 가전제품",-175.0,175.0,-0.015,2002-01-15,테러,영원한자유작전-필리핀,115800,2
2,2,0.0000,AAPL,"컴퓨터, 전화 및 가전제품",0.0,0.0,-0.007,2002-10-07,테러,영원한자유작전-아프리카의뿔,500000,38
3,3,0.0000,AAPL,"컴퓨터, 전화 및 가전제품",0.0,0.0,0.016,2003-03-20,테러,이라크전쟁,1000000,41
4,4,0.0000,AAPL,"컴퓨터, 전화 및 가전제품",0.0,0.0,0.009,2004-04-01,민족,이란-PJAK충돌,17000,3
...,...,...,...,...,...,...,...,...,...,...,...,...
1013,1013,0.0012,GOOG,소프트웨어 및 IT서비스,30.0,30.0,0.004,2014-05-16,내란,리비아 내전,400000,19
1014,1014,0.0007,GOOG,소프트웨어 및 IT서비스,-70.0,70.0,-0.001,2014-06-13,테러,ISIL에대한국제군사개입,472260,41
1015,1015,0.0120,GOOG,소프트웨어 및 IT서비스,-200.0,200.0,-0.006,2014-09-16,내란,예멘내전,156000,19
1016,1016,-0.0426,BABA,소프트웨어 및 IT서비스,1065.0,1065.0,-0.004,2014-09-16,내란,예멘내전,156000,19
1017,1017,-0.0025,PYPL,소프트웨어 및 IT서비스,62.0,62.0,-0.004,2014-09-16,내란,예멘내전,156000,19

In [77]:
ls_war_X = pd.read_excel('datas/ls_war_X.xls', sheet_name='sheet')
ls_war_X.rename["Unnamed: 0":,"Unnamed: 0.1","Start_date","War_name","War_kind","War_volume","Count_country","War_count","Abs_sum","Change_sum"]
ls_war_X.tail(1)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [105]:
k = pd.read_excel("./datas/ls_war_info.xls", "sheet")
k

,Start_date,War_name,Abs_sum,Count,Count_country,War_count,War_volume
0,2001-09-11,테러와의전쟁,45139.0,1,48,1,1000000
1,2002-01-15,영원한자유작전-필리핀,14516.0,1,2,1,115800
2,2002-10-07,영원한자유작전-아프리카의뿔,26992.0,1,38,1,500000
3,2003-03-20,이라크전쟁,9418.0,1,41,1,1000000
4,2004-04-01,이란-PJAK충돌,17026.0,1,3,1,17000
5,2004-04-18,예멘의 Houthi 반란,87029.0,1,7,1,32000
6,2005-08-27,파라과이인민군반란,17272.0,1,3,1,3650
7,2006-01-25,파타-하마스 분쟁,33024.0,1,3,1,55000
8,2006-02-22,이라크내전,28136.0,1,5,1,748000
9,2006-06-12,2006년레바논전쟁,19732.0,1,2,1,10500
10,2006-12-11,멕시코마약전쟁,20738.0,1,4,1,360000
11,2006-12-30,소말리아전쟁,38322.0,1,8,1,35250
12,2007-02-06,영원한자유작전-트랜스사하라,22592.0,1,17,1,5325
13,2008-03-25,2008 안주안침공,28004.0,1,7,1,2500
14,2009-01-31,소말리아내전,48818.0,1,11,1,41600
15,2009-07-26,보코하람반란,0.0,1,19,1,10000
16,2010-05-23,킹스톤불안,29488.0,1,2,1,1500
17,2011-02-15,리비아내전,24695.0,1,21,1,37000
18,2011-03-15,시리아내전,51682.0,1,13,1,144600
19,2011-06-17,레바논에서의시리아내전파급,22542.0,1,19,1,13500
20,2012-01-16,북부말리전쟁,52765.0,1,57,1,24764
21,2013-12-30,이라크 내전,20001.0,1,22,1,770000
22,2014-05-16,리비아 내전,31666.0,1,19,1,400000
23,2014-06-13,ISIL에대한국제군사개입,18342.0,1,41,1,472260
24,2014-09-16,예멘내전,52934.0,1,19,1,156000
25,2017-05-23,마라위위기,0.0,1,5,1,7500
26,2017-12-09,이라크반란,0.0,1,13,1,188900
27,2019-05-05,2019-20 페르시아만위기,NaN,1,13,1,10000

In [106]:
war_info = pd.read_excel("./datas/ls_war_info.xls", "sheet")
war_info["Count"] = 1
#war_info = war_info.drop(["Unnamed: 0","Unnamed: 0.1"], axis=1)
war_info = war_info.pivot_table(["Count", "Count_country", "War_volume","War_name","War_kind","War_count","Abs_sum"], ["Start_date","War_name"])
war_info["War_id"] = ["w1","w2","w3","w4","w5","w6","w7","w8","w9","w10","w11","w12","w13","w14","w15","w16","w17","w18","w19","w20","w21","w22","w23","w24","w25","w26","w27","w28"]
war_info
war_count.to_excel('datas/ls_war_X2.xls', sheet_name='sheet')

KeyError: 'War_kind'

In [108]:
ls_war_X2 = pd.read_excel('datas/ls_war_X2.xls', sheet_name='sheet')
ls_war_X2

,Start_date,War_name,Abs_sum,Count,Count_country,War_volume,War_id
0,2001-09-11,테러와의전쟁,45139.0,1,48,1000000,w1
1,2002-01-15,영원한자유작전-필리핀,14516.0,1,2,115800,w2
2,2002-10-07,영원한자유작전-아프리카의뿔,26992.0,1,38,500000,w3
3,2003-03-20,이라크전쟁,9418.0,1,41,1000000,w4
4,2004-04-01,이란-PJAK충돌,17026.0,1,3,17000,w5
5,2004-04-18,예멘의 Houthi 반란,87029.0,1,7,32000,w6
6,2005-08-27,파라과이인민군반란,17272.0,1,3,3650,w7
7,2006-01-25,파타-하마스 분쟁,33024.0,1,3,55000,w8
8,2006-02-22,이라크내전,28136.0,1,5,748000,w9
9,2006-06-12,2006년레바논전쟁,19732.0,1,2,10500,w10
10,2006-12-11,멕시코마약전쟁,20738.0,1,4,360000,w11
11,2006-12-30,소말리아전쟁,38322.0,1,8,35250,w12
12,2007-02-06,영원한자유작전-트랜스사하라,22592.0,1,17,5325,w13
13,2008-03-25,2008 안주안침공,28004.0,1,7,2500,w14
14,2009-01-31,소말리아내전,48818.0,1,11,41600,w15
15,2009-07-26,보코하람반란,0.0,1,19,10000,w16
16,2010-05-23,킹스톤불안,29488.0,1,2,1500,w17
17,2011-02-15,리비아내전,24695.0,1,21,37000,w18
18,2011-03-15,시리아내전,51682.0,1,13,144600,w19
19,2011-06-17,레바논에서의시리아내전파급,22542.0,1,19,13500,w20
20,2012-01-16,북부말리전쟁,52765.0,1,57,24764,w21
21,2013-12-30,이라크 내전,20001.0,1,22,770000,w22
22,2014-05-16,리비아 내전,31666.0,1,19,400000,w23
23,2014-06-13,ISIL에대한국제군사개입,18342.0,1,41,472260,w24
24,2014-09-16,예멘내전,52934.0,1,19,156000,w25
25,2017-05-23,마라위위기,0.0,1,5,7500,w26
26,2017-12-09,이라크반란,0.0,1,13,188900,w27
27,2019-05-05,2019-20 페르시아만위기,NaN,1,13,10000,w28

In [111]:
df_final = pd.read_excel("./datas/df_final.xls", "sheet")
#df_final = df_final.drop(["Unnamed: 0", "Unnamed: 0.1", "Date"], axis=1)
df_final["Count"] = 1
df_final

,Unnamed: 0,Unnamed: 0.1,Date,Change,Symbol,Change_idx,ABS_idx,Avg_change,Start_date,War_genre,War_name,War_volume,Count_country,Count
0,426,426,2001-09-17,-0.0323,AAPL,269.0,269.0,-0.012,2001-09-11,테러,테러와의전쟁,1000000,48,1
1,217816,217816,2001-09-17,0.0198,ABT,-inf,inf,0.000,2001-09-11,테러,테러와의전쟁,1000000,48,1
2,293188,293188,2001-09-17,-0.0363,ACN,-907.0,907.0,0.004,2001-09-11,테러,테러와의전쟁,1000000,48,1
3,203878,203878,2001-09-17,-0.0797,ADBE,1992.0,1992.0,-0.004,2001-09-11,테러,테러와의전쟁,1000000,48,1
4,11111,11111,2001-09-17,-0.1321,AMZN,2642.0,2642.0,-0.005,2001-09-11,테러,테러와의전쟁,1000000,48,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,350430,350430,2015-09-11,0.0008,WFC_pv,-inf,inf,0.000,2014-09-16,내란,예멘내전,156000,19,1
1514,330980,330980,2016-01-22,0.0036,WFC_pw,180.0,180.0,0.002,2014-09-16,내란,예멘내전,156000,19,1
1515,351755,351755,2016-06-10,0.0028,WFC_px,inf,inf,0.000,2014-09-16,내란,예멘내전,156000,19,1
1516,73167,73167,2014-09-16,0.0067,WMT,-335.0,335.0,-0.002,2014-09-16,내란,예멘내전,156000,19,1
1517,185995,185995,2014-09-16,0.0118,XOM,-393.0,393.0,-0.003,2014-09-16,내란,예멘내전,156000,19,1

In [110]:
#파이널 수정
industry = pd.read_csv("./datas/industry_code.csv")
df_final = pd.read_excel("./datas/df_final.xls", "sheet")
df_final = df_final.drop(["Unnamed: 0", "Unnamed: 0.1", "Date"], axis=1)
X = pd.merge(df_final,industry, left_on="Symbol", right_on="Symbol" )
X.drop(['Unnamed: 0'], axis=1)
X = X[['Change','Symbol','Industry','Change_idx','ABS_idx','Avg_change','Start_date','War_genre','War_name','War_volume','Count_country',
      ]]
X.to_excel('datas/final_X.xls', sheet_name='final_X')
final_X = pd.read_excel('datas/final_X.xls', sheet_name='final_X')
final_X

,Unnamed: 0,Change,Symbol,Industry,Change_idx,ABS_idx,Avg_change,Start_date,War_genre,War_name,War_volume,Count_country
0,0,-0.0323,AAPL,"컴퓨터, 전화 및 가전제품",269.0,269.0,-0.012,2001-09-11,테러,테러와의전쟁,1000000,48
1,1,0.0263,AAPL,"컴퓨터, 전화 및 가전제품",-175.0,175.0,-0.015,2002-01-15,테러,영원한자유작전-필리핀,115800,2
2,2,0.0000,AAPL,"컴퓨터, 전화 및 가전제품",0.0,0.0,-0.007,2002-10-07,테러,영원한자유작전-아프리카의뿔,500000,38
3,3,0.0000,AAPL,"컴퓨터, 전화 및 가전제품",0.0,0.0,0.016,2003-03-20,테러,이라크전쟁,1000000,41
4,4,0.0000,AAPL,"컴퓨터, 전화 및 가전제품",0.0,0.0,0.009,2004-04-01,민족,이란-PJAK충돌,17000,3
...,...,...,...,...,...,...,...,...,...,...,...,...
1013,1013,0.0012,GOOG,소프트웨어 및 IT서비스,30.0,30.0,0.004,2014-05-16,내란,리비아 내전,400000,19
1014,1014,0.0007,GOOG,소프트웨어 및 IT서비스,-70.0,70.0,-0.001,2014-06-13,테러,ISIL에대한국제군사개입,472260,41
1015,1015,0.0120,GOOG,소프트웨어 및 IT서비스,-200.0,200.0,-0.006,2014-09-16,내란,예멘내전,156000,19
1016,1016,-0.0426,BABA,소프트웨어 및 IT서비스,1065.0,1065.0,-0.004,2014-09-16,내란,예멘내전,156000,19
1017,1017,-0.0025,PYPL,소프트웨어 및 IT서비스,62.0,62.0,-0.004,2014-09-16,내란,예멘내전,156000,19