In [1]:
import sklearn
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import font_manager
from datetime import datetime, timedelta
%matplotlib inline

f_path = "C:\Windows\Fonts\malgun.ttf"
font_manager.FontProperties(fname=f_path).get_name()

from matplotlib import rc
rc('font', family='Malgun Gothic')
%matplotlib inline

In [2]:
ls_war = pd.read_csv("datas/ls_war2.csv", sep='\t')
ls_war = ls_war.drop(["Unnamed: 0", "종료시점", "위치"], axis=1)
ls_war.head()

        발발시점            갈등이름 갈등종류      전쟁규모  참전국수  전쟁수
0     2001.9       쿠르드이슬람교분쟁   민족   71000.0     3    1
1  2001.9.11          테러와의전쟁   테러       NaN    48    1
2  2002.1.15     영원한자유작전-필리핀   테러  115800.0     2    1
3  2002.10.7  영원한자유작전-아프리카의뿔   테러       NaN    38    1
4       2006           탈레반반란   테러  416000.0    15    1

In [3]:
ls_war.loc[1, "발발시점"]

'2001.9.11'

In [4]:
ls_war2 = ls_war.drop(index=[0])
ls_war2 = ls_war2.drop(index=[4])
ls_war2.head()

        발발시점            갈등이름 갈등종류      전쟁규모  참전국수  전쟁수
1  2001.9.11          테러와의전쟁   테러       NaN    48    1
2  2002.1.15     영원한자유작전-필리핀   테러  115800.0     2    1
3  2002.10.7  영원한자유작전-아프리카의뿔   테러       NaN    38    1
5  2003.3.20           이라크전쟁   테러       NaN    41    1
6   2004.4.1       이란-PJAK충돌   민족   17000.0     3    1

In [5]:
industry = pd.read_csv("datas/industry_code.csv")
industry.head(2)

   Unnamed: 0 Symbol            Name        Industry  IndustryCode
0           0   AAPL       Apple Inc  컴퓨터, 전화 및 가전제품      571060.0
1           1   MSFT  Microsoft Corp   소프트웨어 및 IT서비스      572010.0

In [6]:
real_df = pd.read_csv("datas/us_historical_stock_prices.csv")
real_df.head(2)

   Unnamed: 0        Date  Close  Open  High   Low       Volume  Change Symbol
0           0  2000-01-03   1.00  0.94  1.00  0.91  535820000.0   0.087   AAPL
1           1  2000-01-04   0.92  0.97  0.99  0.90  511730000.0  -0.080   AAPL

In [7]:
real_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358746 entries, 0 to 358745
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  358746 non-null  int64
 1   Date        358746 non-null  object
 2   Close       358746 non-null  float64
 3   Open        358746 non-null  float64
 4   High        358746 non-null  float64
 5   Low         358746 non-null  float64
 6   Volume      358746 non-null  float64
 7   Change      358746 non-null  float64
 8   Symbol      358746 non-null  object
dtypes: float64(6), int64(1), object(2)
memory usage: 24.6+ MB

In [8]:
# Date타입변환
ls_war2['발발시점'] = pd.to_datetime(ls_war2['발발시점'], format='%Y-%m-%d')

In [9]:
# Date타입변환
real_df['Date'] = pd.to_datetime(real_df['Date'], format='%Y-%m-%d')
real_df.head(2)

   Unnamed: 0       Date  Close  Open  High   Low       Volume  Change Symbol
0           0 2000-01-03   1.00  0.94  1.00  0.91  535820000.0   0.087   AAPL
1           1 2000-01-04   0.92  0.97  0.99  0.90  511730000.0  -0.080   AAPL

In [10]:
#ls_war2.loc[1,"발발시점"] - ls_war2.loc[2,"발발시점"]
ls_war2 = ls_war2.reset_index(drop=True)
ls_war2

         발발시점             갈등이름 갈등종류      전쟁규모  참전국수  전쟁수
0  2001-09-11           테러와의전쟁   테러       NaN    48    1
1  2002-01-15      영원한자유작전-필리핀   테러  115800.0     2    1
2  2002-10-07   영원한자유작전-아프리카의뿔   테러       NaN    38    1
3  2003-03-20            이라크전쟁   테러       NaN    41    1
4  2004-04-01        이란-PJAK충돌   민족   17000.0     3    1
5  2004-04-18    예멘의 Houthi 반란   내란   32000.0     7    1
6  2005-08-27        파라과이인민군반란   내란    3650.0     3    1
7  2006-01-25        파타-하마스 분쟁   테러   55000.0     3    1
8  2006-06-12       2006년레바논전쟁   테러   10500.0     2    1
9  2006-02-22            이라크내전   내란  748000.0     5    1
10 2006-12-11          멕시코마약전쟁   마약  360000.0     4    1
11 2006-12-30           소말리아전쟁   해적   35250.0     8    1
12 2007-02-06   영원한자유작전-트랜스사하라   테러    5325.0    17    1
13 2008-03-25       2008 안주안침공   내란    2500.0     7    1
14 2009-07-26           보코하람반란   내란       NaN    19    1
15 2009-01-31           소말리아내전   해적   41600.0    11    1
16 2010-05-23            킹스톤불안   마약    1500.0     2    1
17 2011-02-15            리비아내전   내란   37000.0    21    1
18 2011-03-15            시리아내전   내란  144600.0    13    1
19 2011-06-17    레바논에서의시리아내전파급   내란   13500.0    19    1
20 2012-01-16           북부말리전쟁   테러   24764.0    57    1
21 2013-12-30           이라크 내전   내란  770000.0    22    1
22 2014-05-16           리비아 내전   내란       NaN    19    1
23 2014-06-13    ISIL에대한국제군사개입   테러  472260.0    41    1
24 2014-09-16             예멘내전   내란  156000.0    19    1
25 2017-05-23            마라위위기   테러    7500.0     5    1
26 2017-12-09            이라크반란   내란  188900.0    13    1
27 2019-05-05  2019-20 페르시아만위기   민족       NaN    13    1

In [51]:
df_3 = industry.drop(['Unnamed: 0', 'IndustryCode'], axis=1)
df_3.head(10)

  Symbol                  Name        Industry
0   AAPL             Apple Inc  컴퓨터, 전화 및 가전제품
1   MSFT        Microsoft Corp   소프트웨어 및 IT서비스
2   AMZN        Amazon.com Inc         다양한 소매업
3     FB  Facebook Inc Class A   소프트웨어 및 IT서비스
4  GOOGL  Alphabet Inc Class A   소프트웨어 및 IT서비스
5   GOOG  Alphabet Inc Class C   소프트웨어 및 IT서비스
6   TSLA             Tesla Inc    자동차 및 자동차 부품
7   NVDA           NVIDIA Corp    반도체 및 반도체 장비
8   PYPL   PayPal Holdings Inc   소프트웨어 및 IT서비스
9   INTC            Intel Corp    반도체 및 반도체 장비

In [64]:
idx=8
start_war = ls_war2.loc[idx,"발발시점"]
name_of_war = ls_war2.loc[idx,"갈등이름"]
cate_of_war = ls_war2.loc[idx,"갈등종류"]
counts_of_nations = ls_war2.loc[idx,"참전국수"]

a1 = ls_war2.loc[idx,"발발시점"] + timedelta(days=1)
a2 = ls_war2.loc[idx,"발발시점"] + timedelta(days=2)
a3 = ls_war2.loc[idx,"발발시점"] + timedelta(days=3)

b1 = ls_war2.loc[idx,"발발시점"] - timedelta(days=1)
b2 = ls_war2.loc[idx,"발발시점"] - timedelta(days=2)
b3 = ls_war2.loc[idx,"발발시점"] - timedelta(days=3)
b4 = ls_war2.loc[idx,"발발시점"] - timedelta(days=4)
b5 = ls_war2.loc[idx,"발발시점"] - timedelta(days=5)


df_3['Name_of_war'] = name_of_war
df_3['Start_date'] = start_war
df_3['Cate_of_war'] = cate_of_war
df_3['Count_of_nations'] = counts_of_nations

df_3.head(2)

,Symbol,Name,Industry,Start_date,Name_of_war,Cate_of_war,Count_of_nations
0,AAPL,Apple Inc,"컴퓨터, 전화 및 가전제품",2006-06-12,2006년레바논전쟁,테러,2
1,MSFT,Microsoft Corp,소프트웨어 및 IT서비스,2006-06-12,2006년레바논전쟁,테러,2

In [65]:
real_df.head(2)

   Unnamed: 0       Date  Close  Open  High   Low       Volume  Change Symbol
0           0 2000-01-03   1.00  0.94  1.00  0.91  535820000.0   0.087   AAPL
1           1 2000-01-04   0.92  0.97  0.99  0.90  511730000.0  -0.080   AAPL

In [149]:
change_a1 = real_df[real_df['Date']==start_war]["Close"] - real_df[real_df['Date']==start_war]["Open"]
change_a2 = real_df[real_df['Date']==a1]["Close"] - real_df[real_df['Date']==a1]["Open"]
change_a3 = real_df[real_df['Date']==a2]["Close"] - real_df[real_df['Date']==a2]["Open"]
change_b1 = real_df[real_df['Date']==b1]["Close"] - real_df[real_df['Date']==b1]["Open"]
change_b2 = real_df[real_df['Date']==b2]["Close"] - real_df[real_df['Date']==b2]["Open"]
change_b3 = real_df[real_df['Date']==b3]["Close"] - real_df[real_df['Date']==b3]["Open"]
change_b4 = real_df[real_df['Date']==b4]["Close"] - real_df[real_df['Date']==b4]["Open"]
change_b5 = real_df[real_df['Date']==b5]["Close"] - real_df[real_df['Date']==b5]["Open"]



# 전쟁발발 이후 일일 시장가격변화(당일, 1일후, 2일후)
df_change_a1 = [real_df[real_df['Date']==start_war]["Symbol"],change_a1]
df_change_a1 = pd.DataFrame(df_change_a1)
df_change_a1 = df_change_a1.transpose()
df_change_a1.rename(columns={"Unnamed 0" : "change_a1"}, inplace=True)


df_change_a2 = [real_df[real_df['Date']==a1]["Symbol"],change_a2]
df_change_a2 = pd.DataFrame(df_change_a2)
df_change_a2 = df_change_a2.transpose()
df_change_a2.rename(columns={"Unnamed 0" : "change_a2"}, inplace=True)


df_change_a3 = [real_df[real_df['Date']==a2]["Symbol"],change_a3]
df_change_a3 = pd.DataFrame(df_change_a3)
df_change_a3 = df_change_a3.transpose()
df_change_a3.rename(columns={"Unnamed 0" : "change_a3"}, inplace=True)



# 전쟁발발 이전 일일 가격(5일간)

df_change_b1 = [real_df[real_df['Date']==b1]["Symbol"],change_b1]
df_change_b1 = pd.DataFrame(df_change_b1)
df_change_b1 = df_change_b1.transpose()
df_change_b1.rename(columns={"Unnamed 0" : "change_b1"}, inplace=True)

df_change_b2 = [real_df[real_df['Date']==b2]["Symbol"],change_b2]
df_change_b2 = pd.DataFrame(df_change_b2)
df_change_b2 = df_change_b2.transpose()
df_change_b2.rename(columns={"Unnamed 0" : "change_b2"}, inplace=True)

df_change_b3 = [real_df[real_df['Date']==b3]["Symbol"],change_b3]
df_change_b3 = pd.DataFrame(df_change_b3)
df_change_b3 = df_change_b3.transpose()
df_change_b3.rename(columns={"Unnamed 0" : "change_b3"}, inplace=True)

df_change_b4 = [real_df[real_df['Date']==b4]["Symbol"],change_b4]
df_change_b4 = pd.DataFrame(df_change_b4)
df_change_b4 = df_change_b4.transpose()
df_change_b4.rename(columns={"Unnamed 0" : "change_b4"}, inplace=True)


df_change_b5 = [real_df[real_df['Date']==b5]["Symbol"],change_b5]
df_change_b5 = pd.DataFrame(df_change_b5)
df_change_b5 = df_change_b5.transpose()
df_change_b5.rename(columns={"Unnamed 0" : "change_b5"}, inplace=True)


merged_df = pd.merge(df_change_a1,df_change_a2)
merged_df = pd.merge(merged_df, df_change_a3)
#merged_df = pd.merge(merged_df, df_change_b1)
#merged_df = pd.merge(merged_df, df_change_b2)
merged_df = pd.merge(merged_df, df_change_b3)
merged_df = pd.merge(merged_df, df_change_b4)
merged_df = pd.merge(merged_df, df_change_b5)

In [151]:
merged_df.tail(2)

   Symbol change_a1 change_a2 change_a3 change_b3 change_b4 change_b5
48    WFC      0.16     -0.92     -0.24      -0.2      0.73      0.28
49    DHR     -0.15     -0.26     -0.18      0.07      0.34     -0.89

In [177]:
df_result = pd.merge(df_3, merged_df)
df_result["avg.change"] = (df_result["change_b3"]+df_result["change_b4"]+df_result["change_b5"])/3
df_result["index_d1"] = df_result["change_a1"] / df_result["avg.change"] * 100
df_result["index_d2"] = df_result["change_a2"] / df_result["avg.change"] * 100
df_result["index_d3"] = df_result["change_a3"] / df_result["avg.change"] * 100

df_result
show_df = df_result.drop(["Industry", "Start_date", "Cate_of_war", "Count_of_nations", "change_b3","change_b4","change_b5"], axis=1)

,Symbol,Name,Name_of_war,change_a1,change_a2,change_a3,avg.change,index_d1,index_d2,index_d3
0,AAPL,Apple Inc,2006년레바논전쟁,-0.11,0.02,-0.02,-0.0133333,825,-150,150
2,AMZN,Amazon.com Inc,2006년레바논전쟁,-0.45,-0.02,0.18,0.216667,-207.692,-9.23077,83.0769
3,GOOGL,Alphabet Inc Class A,2006년레바논전쟁,-9.14,2.82,-2.72,-1.13667,804.106,-248.094,239.296
6,ASML,ASML Holding NV ADR,2006년레바논전쟁,0.51,-0.17,0.27,-0.103333,-493.548,164.516,-261.29
7,CMCSA,Comcast Corp Class A,2006년레바논전쟁,-0.1,-0.07,-0.01,-0.00666667,1500,1050,150
10,CSCO,Cisco Systems Inc,2006년레바논전쟁,0.22,-0.03,0.21,-0.05,-440,60,-420
11,PEP,PepsiCo Inc,2006년레바논전쟁,-0.46,-0.46,0.12,-0.153333,300,300,-78.2609
13,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADR,2006년레바논전쟁,-0.31,-0.13,-0.03,-0.146667,211.364,88.6364,20.4545
14,JPM,JPMorgan Chase & Co,2006년레바논전쟁,0.32,-0.82,-0.67,-0.00666667,-4800,12300,10050
15,JNJ,Johnson & Johnson,2006년레바논전쟁,-2.5,-0.5,-0.03,0.126667,-1973.68,-394.737,-23.6842
16,WMT,Walmart Inc,2006년레바논전쟁,0.27,0.44,0.15,0.0533333,506.25,825,281.25
17,UNH,UnitedHealth Group Inc,2006년레바논전쟁,-0.75,0.61,0.22,-0.303333,247.253,-201.099,-72.5275
19,DIS,Walt Disney Co,2006년레바논전쟁,-0.74,-0.24,0.68,-0.343333,215.534,69.9029,-198.058
20,BAC,Bank of America Corp,2006년레바논전쟁,0.48,-1.08,-0.34,0.22,218.182,-490.909,-154.545
21,HD,Home Depot Inc,2006년레바논전쟁,-0.44,0.19,0.62,0.0966667,-455.172,196.552,641.379
22,VZ,Verizon Communications Inc,2006년레바논전쟁,0.34,0.11,0.02,-0.116667,-291.429,-94.2857,-17.1429
23,XOM,Exxon Mobil Corp,2006년레바논전쟁,-1.13,-1.1,1.15,-0.46,245.652,239.13,-250
25,T,AT&T Inc,2006년레바논전쟁,0.68,0.36,0.2,-0.0766667,-886.957,-469.565,-260.87
27,ABT,Abbott Laboratories,2006년레바논전쟁,0.44,-0.13,0.24,0.133333,330,-97.5,180
29,CVX,Chevron Corp,2006년레바논전쟁,-1.04,-0.81,0.68,-0.293333,354.545,276.136,-231.818
31,PFE,Pfizer Inc,2006년레바논전쟁,0.11,-0.2,0.1,-0.0233333,-471.429,857.143,-428.571
32,MRK,Merck & Co Inc,2006년레바논전쟁,0.49,0.05,-0.07,-0.0866667,-565.385,-57.6923,80.7692
33,NVS,Novartis AG ADR,2006년레바논전쟁,-0.22,-0.5,-0.32,-0.0733333,300,681.818,436.364
38,MCD,Mcdonald's Corp,2006년레바논전쟁,-0.84,-1.53,0.85,-0.11,763.636,1390.91,-772.727
41,BHP,BHP Group Ltd ADR,2006년레바논전쟁,0.7,-0.35,0.45,-0.0333333,-2100,1050,-1350

In [178]:
#개전첫날 가격변동폭이 큰 기업

In [179]:
show_df[abs(show_df["index_d1"])>200]

,Symbol,Name,Name_of_war,change_a1,change_a2,change_a3,avg.change,index_d1,index_d2,index_d3
0,AAPL,Apple Inc,2006년레바논전쟁,-0.11,0.02,-0.02,-0.0133333,825,-150,150
2,AMZN,Amazon.com Inc,2006년레바논전쟁,-0.45,-0.02,0.18,0.216667,-207.692,-9.23077,83.0769
3,GOOGL,Alphabet Inc Class A,2006년레바논전쟁,-9.14,2.82,-2.72,-1.13667,804.106,-248.094,239.296
6,ASML,ASML Holding NV ADR,2006년레바논전쟁,0.51,-0.17,0.27,-0.103333,-493.548,164.516,-261.29
7,CMCSA,Comcast Corp Class A,2006년레바논전쟁,-0.1,-0.07,-0.01,-0.00666667,1500,1050,150
10,CSCO,Cisco Systems Inc,2006년레바논전쟁,0.22,-0.03,0.21,-0.05,-440,60,-420
11,PEP,PepsiCo Inc,2006년레바논전쟁,-0.46,-0.46,0.12,-0.153333,300,300,-78.2609
13,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADR,2006년레바논전쟁,-0.31,-0.13,-0.03,-0.146667,211.364,88.6364,20.4545
14,JPM,JPMorgan Chase & Co,2006년레바논전쟁,0.32,-0.82,-0.67,-0.00666667,-4800,12300,10050
15,JNJ,Johnson & Johnson,2006년레바논전쟁,-2.5,-0.5,-0.03,0.126667,-1973.68,-394.737,-23.6842
16,WMT,Walmart Inc,2006년레바논전쟁,0.27,0.44,0.15,0.0533333,506.25,825,281.25
17,UNH,UnitedHealth Group Inc,2006년레바논전쟁,-0.75,0.61,0.22,-0.303333,247.253,-201.099,-72.5275
19,DIS,Walt Disney Co,2006년레바논전쟁,-0.74,-0.24,0.68,-0.343333,215.534,69.9029,-198.058
20,BAC,Bank of America Corp,2006년레바논전쟁,0.48,-1.08,-0.34,0.22,218.182,-490.909,-154.545
21,HD,Home Depot Inc,2006년레바논전쟁,-0.44,0.19,0.62,0.0966667,-455.172,196.552,641.379
22,VZ,Verizon Communications Inc,2006년레바논전쟁,0.34,0.11,0.02,-0.116667,-291.429,-94.2857,-17.1429
23,XOM,Exxon Mobil Corp,2006년레바논전쟁,-1.13,-1.1,1.15,-0.46,245.652,239.13,-250
25,T,AT&T Inc,2006년레바논전쟁,0.68,0.36,0.2,-0.0766667,-886.957,-469.565,-260.87
27,ABT,Abbott Laboratories,2006년레바논전쟁,0.44,-0.13,0.24,0.133333,330,-97.5,180
29,CVX,Chevron Corp,2006년레바논전쟁,-1.04,-0.81,0.68,-0.293333,354.545,276.136,-231.818
31,PFE,Pfizer Inc,2006년레바논전쟁,0.11,-0.2,0.1,-0.0233333,-471.429,857.143,-428.571
32,MRK,Merck & Co Inc,2006년레바논전쟁,0.49,0.05,-0.07,-0.0866667,-565.385,-57.6923,80.7692
33,NVS,Novartis AG ADR,2006년레바논전쟁,-0.22,-0.5,-0.32,-0.0733333,300,681.818,436.364
38,MCD,Mcdonald's Corp,2006년레바논전쟁,-0.84,-1.53,0.85,-0.11,763.636,1390.91,-772.727
41,BHP,BHP Group Ltd ADR,2006년레바논전쟁,0.7,-0.35,0.45,-0.0333333,-2100,1050,-1350

In [180]:
#개전2일차 가격변동폭이 큰 기업

In [181]:
show_df[abs(show_df["index_d2"])>200]

,Symbol,Name,Name_of_war,change_a1,change_a2,change_a3,avg.change,index_d1,index_d2,index_d3
1,MSFT,Microsoft Corp,2006년레바논전쟁,-0.01,-0.22,0.29,-0.0866667,11.5385,253.846,-334.615
3,GOOGL,Alphabet Inc Class A,2006년레바논전쟁,-9.14,2.82,-2.72,-1.13667,804.106,-248.094,239.296
5,INTC,Intel Corp,2006년레바논전쟁,-0.19,0.33,0.24,-0.156667,121.277,-210.638,-153.191
7,CMCSA,Comcast Corp Class A,2006년레바논전쟁,-0.1,-0.07,-0.01,-0.00666667,1500,1050,150
8,NFLX,Netflix Inc,2006년레바논전쟁,0,0.09,0.04,0.0366667,0,245.455,109.091
11,PEP,PepsiCo Inc,2006년레바논전쟁,-0.46,-0.46,0.12,-0.153333,300,300,-78.2609
14,JPM,JPMorgan Chase & Co,2006년레바논전쟁,0.32,-0.82,-0.67,-0.00666667,-4800,12300,10050
15,JNJ,Johnson & Johnson,2006년레바논전쟁,-2.5,-0.5,-0.03,0.126667,-1973.68,-394.737,-23.6842
16,WMT,Walmart Inc,2006년레바논전쟁,0.27,0.44,0.15,0.0533333,506.25,825,281.25
17,UNH,UnitedHealth Group Inc,2006년레바논전쟁,-0.75,0.61,0.22,-0.303333,247.253,-201.099,-72.5275
20,BAC,Bank of America Corp,2006년레바논전쟁,0.48,-1.08,-0.34,0.22,218.182,-490.909,-154.545
23,XOM,Exxon Mobil Corp,2006년레바논전쟁,-1.13,-1.1,1.15,-0.46,245.652,239.13,-250
25,T,AT&T Inc,2006년레바논전쟁,0.68,0.36,0.2,-0.0766667,-886.957,-469.565,-260.87
26,TM,Toyota Motor Corp ADR,2006년레바논전쟁,-0.19,-1.39,1.29,-0.276667,68.6747,502.41,-466.265
29,CVX,Chevron Corp,2006년레바논전쟁,-1.04,-0.81,0.68,-0.293333,354.545,276.136,-231.818
31,PFE,Pfizer Inc,2006년레바논전쟁,0.11,-0.2,0.1,-0.0233333,-471.429,857.143,-428.571
33,NVS,Novartis AG ADR,2006년레바논전쟁,-0.22,-0.5,-0.32,-0.0733333,300,681.818,436.364
38,MCD,Mcdonald's Corp,2006년레바논전쟁,-0.84,-1.53,0.85,-0.11,763.636,1390.91,-772.727
40,WFC,Wells Fargo & Co,2006년레바논전쟁,0.16,-0.92,-0.24,0.27,59.2593,-340.741,-88.8889
41,BHP,BHP Group Ltd ADR,2006년레바논전쟁,0.7,-0.35,0.45,-0.0333333,-2100,1050,-1350

In [182]:
#개전3일차 가격변동폭이 큰 기업

In [183]:
show_df[abs(show_df["index_d3"])>200]

,Symbol,Name,Name_of_war,change_a1,change_a2,change_a3,avg.change,index_d1,index_d2,index_d3
1,MSFT,Microsoft Corp,2006년레바논전쟁,-0.01,-0.22,0.29,-0.0866667,11.5385,253.846,-334.615
3,GOOGL,Alphabet Inc Class A,2006년레바논전쟁,-9.14,2.82,-2.72,-1.13667,804.106,-248.094,239.296
6,ASML,ASML Holding NV ADR,2006년레바논전쟁,0.51,-0.17,0.27,-0.103333,-493.548,164.516,-261.29
10,CSCO,Cisco Systems Inc,2006년레바논전쟁,0.22,-0.03,0.21,-0.05,-440,60,-420
14,JPM,JPMorgan Chase & Co,2006년레바논전쟁,0.32,-0.82,-0.67,-0.00666667,-4800,12300,10050
16,WMT,Walmart Inc,2006년레바논전쟁,0.27,0.44,0.15,0.0533333,506.25,825,281.25
18,PG,Procter & Gamble Co,2006년레바논전쟁,0.37,-0.19,0.83,0.27,137.037,-70.3704,307.407
21,HD,Home Depot Inc,2006년레바논전쟁,-0.44,0.19,0.62,0.0966667,-455.172,196.552,641.379
23,XOM,Exxon Mobil Corp,2006년레바논전쟁,-1.13,-1.1,1.15,-0.46,245.652,239.13,-250
25,T,AT&T Inc,2006년레바논전쟁,0.68,0.36,0.2,-0.0766667,-886.957,-469.565,-260.87
26,TM,Toyota Motor Corp ADR,2006년레바논전쟁,-0.19,-1.39,1.29,-0.276667,68.6747,502.41,-466.265
28,NKE,Nike Inc Class B,2006년레바논전쟁,0.02,0.05,0.11,0.03,66.6667,166.667,366.667
29,CVX,Chevron Corp,2006년레바논전쟁,-1.04,-0.81,0.68,-0.293333,354.545,276.136,-231.818
31,PFE,Pfizer Inc,2006년레바논전쟁,0.11,-0.2,0.1,-0.0233333,-471.429,857.143,-428.571
33,NVS,Novartis AG ADR,2006년레바논전쟁,-0.22,-0.5,-0.32,-0.0733333,300,681.818,436.364
37,LLY,Eli Lilly and Co,2006년레바논전쟁,-0.18,-0.19,0.92,0.3,-60,-63.3333,306.667
38,MCD,Mcdonald's Corp,2006년레바논전쟁,-0.84,-1.53,0.85,-0.11,763.636,1390.91,-772.727
41,BHP,BHP Group Ltd ADR,2006년레바논전쟁,0.7,-0.35,0.45,-0.0333333,-2100,1050,-1350